:root {
  --foreground-main: #000;
  --foreground-accent: #000;
  --background: #fff;
}

* {
  box-sizing: border-box;
}

body, html {
  margin: 0;
  padding: 0;
  background: var(--background);
  color: var(--foreground-main);
  transition: background-color 0.2s ease;
}

button, select {
  border: 1px solid var(--foreground-main);
  border-radius: 2px;
  background: var(--background);
  color: var(--foreground-main);
  margin: 0px 5px;
}

sheet {
  display: block;
  border: 1px solid var(--foreground-accent);
  padding: 0px 10px;
  margin: 0px 10px 10px 10px;
  overflow: scroll;
  height: calc(100vh - 154px);
}

cue {
  display: block;
  padding: 10px;
  margin: 0px -10px;
  border-bottom: 1px solid var(--foreground-accent);
}

controls {
  display: block;
  border: 1px solid var(--foreground-accent);
  padding: 10px;
  margin: 10px;
  overflow: scroll;
}

open {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 1px solid var(--foreground-accent);
  padding: 10px;
  height: 80vh;
  width: 80vw;
  background: var(--background);
}

.close-button {
  position: absolute;
  top: 5px;
  right: 5px;
  border: none;
  font-size: 25px;
}

.delete-cue, .add-cue {
  border: none;
  font-size: 1.1em;
  background: transparent;
  padding: 0px;
  margin: 0px;
  float: right;
}

.delete-cue.flush, .add-cue.flush {
  float: none;
  margin-left: 25px;
}

.shown {display: block;}
.hidden {display: none;}

metadata {
  display: none;
}

#docTitle::before {content: 'Title: '}
#docSaved::before {content: 'Saved? '}

table, tr, td {
  border: 1px solid var(--foreground-accent);
  border-collapse: collapse;
  padding: 5px;
  background: var(--background);
}

pre {
  border: 1px solid var(--foreground-accent);
}

.window-text {
  margin-top: 10px;
  width: 100%;
  height: calc(100% - 30px);
}

pre {
  padding: 10px;
}

li {
  clear: both;
}

tabs {
  margin: 0px 10px;
  padding: 5px 0px;
  display: block;
}

tab {
  height: 30px;
  border: 1px solid var(--foreground-accent);
  margin: 0px;
  padding: 5px;
  width: 100px;
}

workspace {display: flex;}
workspace div {flex: 1;}

#script {
  display: block;
  border: 1px solid var(--foreground-accent);
  padding: 0px 10px;
  margin: 0px 10px 10px 10px;
  width: calc(50vw - 10px);
  overflow: scroll;
  height: calc(100vh - 154px);
  font-family: monospace;
  font-size: 1em;
}

h1 {color: var(--foreground-accent)}